In [1]:
# Import dependencies.
import pandas as pd

In [2]:
# Save each CSV file path into a variable.
netflix_csv = '../original_data/netflix_titles.csv'
hulu_csv = '../original_data/hulu_titles.csv'
disney_plus_csv = '../original_data/disney_plus_titles.csv'
amazon_prime_csv = '../original_data/amazon_prime_titles.csv'

In [3]:
# Read each CSV file into a DataFrame.
netflix_data = pd.read_csv(netflix_csv)
hulu_data = pd.read_csv(hulu_csv)
disney_plus_data = pd.read_csv(disney_plus_csv)
amazon_prime_data = pd.read_csv(amazon_prime_csv)

# Netflix

In [4]:
# Check data types.
netflix_data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [5]:
# Preview data.
netflix_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
netflix_data['date_added'] = netflix_data['date_added'].str.replace('January', '01')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('February', '02')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('March', '03')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('April', '04')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('May', '05')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('June', '06')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('July', '07')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('August', '08')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('September', '09')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('October', '10')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('November', '11')
netflix_data['date_added'] = netflix_data['date_added'].str.replace('December', '12')
netflix_data['date_added'] = netflix_data['date_added'].str.replace(' ', '')
netflix_data['date_added'] = netflix_data['date_added'].str.replace(',', '')

In [7]:
# Convert 'date_added' column into datetime format.
netflix_data['date_added'] = pd.to_datetime(netflix_data['date_added'], format='%m%d%Y')

In [8]:
netflix_data = netflix_data.rename(columns={'listed_in': 'genres'})

In [9]:
# Check data summary.
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  genres        8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

# Hulu

In [10]:
# Check data types.
hulu_data.dtypes

show_id          object
type             object
title            object
director         object
cast            float64
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
dtype: object

In [11]:
# Preview data.
hulu_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",â€‹Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [12]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
hulu_data['date_added'] = hulu_data['date_added'].str.replace('January', '01')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('February', '02')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('March', '03')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('April', '04')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('May', '05')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('June', '06')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('July', '07')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('August', '08')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('September', '09')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('October', '10')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('November', '11')
hulu_data['date_added'] = hulu_data['date_added'].str.replace('December', '12')
hulu_data['date_added'] = hulu_data['date_added'].str.replace(' ', '')
hulu_data['date_added'] = hulu_data['date_added'].str.replace(',', '')

In [13]:
# Convert 'date_added' column into datetime format.
hulu_data['date_added'] = pd.to_datetime(hulu_data['date_added'], format='%m%d%Y')

In [14]:
hulu_data = hulu_data.rename(columns={'listed_in': 'genres'})

In [15]:
# Check data summary.
hulu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   datetime64[ns]
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  genres        3073 non-null   object
 11  description   3069 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 288.2+ KB

# Disney Plus

In [16]:
# Check data types.
disney_plus_data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [17]:
# Preview data.
disney_plus_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [18]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('January', '01')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('February', '02')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('March', '03')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('April', '04')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('May', '05')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('June', '06')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('July', '07')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('August', '08')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('September', '09')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('October', '10')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('November', '11')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace('December', '12')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace(' ', '')
disney_plus_data['date_added'] = disney_plus_data['date_added'].str.replace(',', '')

In [19]:
# Convert 'date_added' column into datetime format.
disney_plus_data['date_added'] = pd.to_datetime(disney_plus_data['date_added'], format='%m%d%Y')

In [20]:
disney_plus_data = disney_plus_data.rename(columns={'listed_in': 'genres'})

In [21]:
# Check data summary.
disney_plus_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   datetime64[ns]
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  genres        1450 non-null   object
 11  description   1450 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 136.1+ KB

# Amazon Prime

In [22]:
# Check data types.
amazon_prime_data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [23]:
# Preview data.
amazon_prime_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [24]:
# Replace month names with their respective numbers, and delete spaces and commas so that we may convert each date
# into datetime format.
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('January', '01')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('February', '02')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('March', '03')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('April', '04')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('May', '05')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('June', '06')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('July', '07')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('August', '08')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('September', '09')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('October', '10')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('November', '11')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace('December', '12')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace(' ', '')
amazon_prime_data['date_added'] = amazon_prime_data['date_added'].str.replace(',', '')

In [25]:
# Convert 'date_added' column into datetime format.
amazon_prime_data['date_added'] = pd.to_datetime(amazon_prime_data['date_added'], format='%m%d%Y')

In [26]:
amazon_prime_data = amazon_prime_data.rename(columns={'listed_in': 'genres'})

In [27]:
# Check data summary.
amazon_prime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    datetime64[ns]
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  genres        9668 non-null   object
 11  description   9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 906.5+ KB

# Export all 4 datasets as cleaned CSVs

In [28]:
netflix_data.to_csv('../cleaned_data/netflix.csv', index=False)
hulu_data.to_csv('../cleaned_data/hulu.csv', index=False)
disney_plus_data.to_csv('../cleaned_data/disney_plus.csv', index=False)
amazon_prime_data.to_csv('../cleaned_data/amazon_prime.csv', index=False)

# Import all 4 datasets into MongoDB

In [29]:
# Import dependencies.
import pymongo
import json
import csv

In [30]:
# Make a connection to MongoDB.
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'project_3' database in MongoDB.
db = client.project_3

# Define the header.
header = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 
         'genres', 'description']

In [31]:
#Convert CSV to JSON for Netflix data.
csvfile = open('../cleaned_data/netflix.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'netflix' collection in the DB.
    db.netflix.insert_one(row)

In [32]:
#Convert CSV to JSON for Hulu data.
csvfile = open('../cleaned_data/hulu.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'hulu' collection in the DB.
    db.hulu.insert_one(row)

In [33]:
#Convert CSV to JSON for Disney Plus data.
csvfile = open('../cleaned_data/disney_plus.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'disney_plus' collection in the DB.
    db.disney_plus.insert_one(row)

In [34]:
#Convert CSV to JSON for Amazon Prime data.
csvfile = open('../cleaned_data/amazon_prime.csv', 'r', encoding="utf8")
reader = csv.DictReader(csvfile)

for each in reader:
    row = {}
    for field in header:
        row[field] = each[field]
 
    # Upload each row of data to 'amazon_prime' collection in the DB.
    db.amazon_prime.insert_one(row)